HOST=localhost
PORT=8080

SAML_ENTITY_ID=urn:go-lldap-sso:sp  # Entity ID untuk SP
SAML_IDP_METADATA=https://mocksaml.com/api/namespace/go-lldap-sso/saml/metadata
SAML_SP_KEY=certs/key.pem
SAML_SP_CERT=certs/cert.pem
SAML_ACS_URL=http://localhost:8080/saml/acs  # Gunakan URL lokal untuk testing

#ldap config
LDAP_HOST='localhost'
LDAP_PORT='389'
LDAP_BASEDN='dc=example,dc=org'
LDAP_BIND_DN='cn=admin,dc=example,dc=org'
LDAP_BIND_PASS='admin1234'
LDAP_USE_SSL=false

#db config
DB_HOST=localhost
DB_PORT=5432
DB_USER=avd
DB_PASSWORD=avd
DB_NAME=go-ldap-sso

#auth config
JWT_SECRET='your-random-key'
JWT_EXPIRY_HOURS='2'


